@import "vars";
@import "fonts";
@import "optimize";
@import "libs";
@import "global";

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 140px;
    padding: 1.875rem 0;
}

.logo {
    margin-bottom: 2.1875rem;
}

.menu {
    &__list {
        display: flex;
        align-items: center;
        gap: 0 65px;
        @include opensans-400;
        font-size: 1.125rem;
        margin-left: 5.3125rem;
    }
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 0 20px;
    &__item-search {
        margin-left: 80px;
    }
}

@import "media";
