@import "vars";
@import "fonts";
@import "optimize";
@import "libs";
@import "global";

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8.75rem;
    padding: 30px 0;
}

.logo {
    margin-bottom: 35px;
}

.menu {
    &__list {
        display: flex;
        align-items: center;
        gap: 0 4.0625rem;
        @include opensans-400;
        font-size: 18px;
        margin-left: 85px;
        position: relative;
        z-index: 3;
    }
    &__btn {
        position: relative;
        display: none;
        z-index: 2;
    }
    &--close {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        transition: background-color 0.5s ease;
    }
}

.menu--close.menu--open {
    display: block;
}

.mobile-nav,
.menu__close {
    display: none;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 0 1.25rem;
    &__item-search {
        margin-left: 5rem;
    }
}

.top {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    &__inner {
        min-height: 31.25rem;
        @include cormorant-400;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    &__title {
        font-size: 3.75rem;
        line-height: 1;
        margin-bottom: 20px;
        max-width: 51.875rem;
    }
    &__text {
        font-size: 24px;
        margin-bottom: 48px;
        max-width: 35.3125rem;
        line-height: normal;
    }
}

.blockquote {
    &__text {
        @include cormorant-300-it;
        font-size: 40px;
        line-height: normal;
        text-align: center;
        max-width: 44rem;
        margin: 9.375rem auto;
    }
}

.assortment {
    margin-bottom: 150px;
    &__list {
        text-align: center;
        display: flex;
        gap: 0 2.5rem;
    }
    &__img {
        max-width: 208px;
        height: auto;
        width: 100%;
    }
    &__name {
        @include cormorant-400;
        font-size: 1.5rem;
        padding-top: 0.625rem;
    }
}

.reviews {
    background-color: $ligth-bg;
    padding: 3.75rem 0;
    &__list {
        display: flex;
        gap: 0 1.625rem;
        justify-content: center;
    }
    &__item {
        flex-basis: 280px;
    }
    &__text {
        @include opensans-300-it;
        font-size: 1rem;
        line-height: normal;
    }
    &__name {
        @include opensans-600;
        font-size: 1.25rem;
    }
}


@import "media";
