  <footer class="footer">
    <div class="container">
      <div class="footer-top">

        <!-- Products list -->
        <ul class="footer-top__products">
         <li class="footer-top__products-item">
          <h3 class="footer-top__products-title footer__title">Products</h3> 
        </li> 
         <li class="footer-top__products-item">
          <a class="footer-top__products-link" arial-label="Black tea" href="#">Black tea</a>
        </li>
         <li class="footer-top__products-item">
          <a class="footer-top__products-link" arial-label="Green tea" href="#">Green tea</a>
        </li>
         <li class="footer-top__products-item">
          <a class="footer-top__products-link" arial-label="White tea" href="#">White tea</a>
        </li>
         <li class="footer-top__products-item">
          <a class="footer-top__products-link" arial-label="Oolong tea" href="#">Oolong tea</a>
        </li>
         <li class="footer-top__products-item">
          <a class="footer-top__products-link" arial-label="Pu-erh tea" href="#">Pu-erh tea</a>
        </li>
        </ul>

        <!-- Company list -->
        <ul class="footer-top__company">
         <li class="footer-top__company-item">
          <h3 class="footer-top__company-title footer__title">Company</h3> 
        </li> 
         <li class="footer-top__company-item">
          <a class="footer-top__company-link" arial-label="About Us" href="#">About Us</a>
        </li>
         <li class="footer-top__company-item">
          <a class="footer-top__company-link" arial-label="Contact Us" href="#">Contact Us</a>
        </li>
         <li class="footer-top__company-item">
          <a class="footer-top__company-link" arial-label="Our Blog" href="#">Our Blog</a>
        </li>
         <li class="footer-top__company-item">
          <a class="footer-top__company-link" arial-label="FAQ" href="#">FAQ</a>
        </li>
         <li class="footer-top__company-item">
          <a class="footer-top__company-link" arial-label="Shipping & Delivery" href="#">Shipping & Delivery</a>
        </li>
         <li class="footer-top__company-item">
          <a class="footer-top__company-link" arial-label="Refund policy" href="#">Refund policy</a>
        </li>
         <li class="footer-top__company-item">
          <a class="footer-top__company-link" arial-label="Terms of Service" href="#">Terms of Service</a>
        </li>
        </ul>
        <blockquote class="footer-top__blockquote">
          <p class="footer-top__blockquote-text">
            “Tea is a journey. It can take you to new places and open your mind to new experiences. Let every sip transport you to a world of wonder and possibility”
          </p>
          <cite class="footer-top__blockquote-author">
            Dragomir Teodorescu,<br>
            Tealuxe owner</cite>
        </blockquote>

        <!-- Stay In Touch -->
        <div class="footer-contacts">
          <h3 class="footer-contacts__title footer__title">Stay In Touch</h3>
          <p class="footer-contacts__text">
            Please feel free to contact us via the email of phone. We would be happy to hear from you!
          </p>
          <ul class="footer-contacts__nav-list">
            <li class="footer-contacts__logo">
              <a class="footer-contacts__logo-link" arial-label="logo" href="#">
                <img class="footer-contacts__logo-img" src="images/footer-logo.svg" alt="Logo">
              </a>
            </li>
            <li class="footer-contacts__nav">
              <a class="footer-contacts__nav-phone" href="tel:+370680123456">+370 680 123456</a>
              <a class="footer-contacts__nav-email" href="mailto:info@tealuxe.com">info@tealuxe.com</a>
            </li>
            <li class="footer-contacts__social">
                <ul class="footer-contacts__social-list">
                  <li class="footer-contacts__social-item">
                    <a class="footer-contacts__social-link" arial-label="Facebook" href="#">
                <img class="footer-contacts__social-img" src="images/facebook.svg" alt="Facebook">
              </a>
                  </li>
                  <li class="footer-contacts__social-item">
                    <a class="footer-contacts__social-link" arial-label="YouTube" href="#">
                <img class="footer-contacts__social-img" src="images/youtube.svg" alt="YouTube">
              </a>
                  </li>
                  <li class="footer-contacts__social-item">
                    <a class="footer-contacts__social-link" arial-label="Instagram" href="#">
                <img class="footer-contacts__social-img" src="images/instagram.svg" alt="Instagram">
              </a>
                  </li>
                  <li class="footer-contacts__social-item">
                    <a class="footer-contacts__social-link" arial-label="Twitter" href="#">
                <img class="footer-contacts__social-img" src="images/twitter.svg" alt="Twitter">
              </a>
                  </li>
                </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer-bootom">
        <p class="footer-bootom__copy">© Tealuxe, 2023</p>
        <ul class="footer-bootom__partners">
          <li class="footer-bootom__partners-item">
            <img class="footer-bootom__partners-img partners-img-fix" src="images/logos_mastercard.svg" alt="MasterCard">
          </li>
          <li class="footer-bootom__partners-item">
            <img class="footer__partners-img" src="images/logos_visa.svg" alt="Visa">
          </li>
          <li class="footer-bootom__partners-item">
            <img class="footer__partners-img" src="images/logos_google-pay.svg" alt="Google-pay">
          </li>
          <li class="footer-bootom__partners-item">
            <img class="footer-bootom__partners-img" src="images/logos_paypal.svg" alt="Paypal">
          </li>
        </ul>
      </div>
    </div>
  </footer>
  </div> 
  <!-- END/ wrapper -->
  
  <script src="js/main.min.js"></script>
  </body>
</html>